[submodule "sun20i_d1_spl"]
	path = sun20i_d1_spl
	url = https://github.com/smaeul/sun20i_d1_spl
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/tekkamanninja/opensbi
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/tekkamanninja/u-boot
[submodule "grub"]
	path = grub
	url = git://git.savannah.gnu.org/grub.git
